<style>

</style>

<!-- Toolbar -->
<div class="content" role="main">
  <div style="height: 100px;" [ngStyle]="{display: isGameOver ? 'block' : 'none'}"></div>
  <div style="width: 100px; margin: auto" [ngStyle]="{display: isGameOver ? 'none' : 'block'}">
    <span style="font-size: 50px">
      {{hiraEntry.hira}}
    </span>
  </div>
  <div style="width: 150px; margin: auto" [ngStyle]="{display: isGameOver ? 'block' : 'none'}">
    <span style="font-size: 50px">
      {{hiraEntry.hira}} : {{hiraEntry.pronounce}}
    </span>
  </div>
  <div style="width: 100px; margin: auto">
    <input id="eid_answerInput" type="text"
           (keyup)="checkAnswerInput()"
           [style]="{color: warnWrongAnswer ? 'red' : 'black'}"
    />
  </div>
  <div style="height: 50px;"></div>
  <div style="height: 50px; margin: auto"
       [style]="{width: maxLenTimeLeftCssNum + 'px', display: isGameOver ? 'none' : 'block'}">
    <div style="height: 50px; background-color: red" [style.width]="timeLeftPercentCss"></div>
    <!--<span style="display: block; width: 35px; font-size: 30px; margin: auto;">
      {{this.timeLeftPercent}}
    </span>-->
  </div>
  <div style="width: 100px; margin: auto">
    <div style="display: block; width: 120px; font-size: 30px; margin: auto;">
      <span>Score: {{this.score}}</span>
    </div>
    <div style="display: block; width: 120px; font-size: 20px; margin: auto;">
      <span>High : {{this.highScore}}</span>
    </div>
  </div>
  <div style="height: 50px;"></div>
  <div>
    <ul>
      <li *ngFor="let savedWrongAnswer of savedWrongAnswers">
        {{savedWrongAnswer.hira}}: {{savedWrongAnswer.wrongCount}}
      </li>
    </ul>
  </div>
</div>


<router-outlet></router-outlet>
